primo-explore/tmp/
.idea/
package-lock.json
/node_modules/

*.secret

# built packages should not be included in a repository, because they may include raw API keys within the package (e.g. Browzine)
packages/*